<div id="dashboard" class=" d-flex  justify-content-center align-items-center ">
    <figure class="d-flex justify-content-center align-items-center">
        <img class=" w-25" src="/assets/package.png" alt=""/>
    </figure>
    <p class="my-3">Select an option</p>
    </div>
        
