@using Core.Enums

<section class="mt-5 d-flex flex-column justify-content-center">
    <div>
        <figure class="d-flex align-content-center justify-content-center">
            <img src="/assets/manProfile.png" alt="Foto del usuario" class="">
        </figure>
        
        @* This is a mode of example, this will change into a grid of inputs*@
        <div class="d-flex flex-column justify-content-center align-content-center gap-2">
        <div class=" input-group d-flex flex-row justify-content-center align-content-center">
            <input class="mb-0 form-control" value="Juan Perez" />
            <input class="mb-0 form-control" value="juanperez@gmail.com"/>
        </div>
        <div class=" input-group d-flex flex-row justify-content-center align-content-center">
            <input class="mb-0 form-control" value="+598 99 266 444"/>
            <input class="mb-0 form-control" value="5.575.575-5"/>

        </div>
        <div class=" input-group d-flex justify-content-center align-content-center">
            <input type="date" class="mb-0  form-control" value="06/07/1989"/>
        </div>
        </div>
    </div>
    <div>
        <button class="btn btn-primary mb-2">Editar perfil</button>
        <br/>
        @if(Context.Session.GetString("Role") == Role.Administrator.ToString()) {
            <button class="btn btn-danger w-25" >Eliminar perfil</button>
        }
    </div>
</section>