/*.custom-table tbody tr:hover {*/
/*    transform: scale(1.02);*/
/*    background-color: #eb0f0f;*/
/*}*/

td{
    border-bottom-width: 0;
    font-size:medium;
}

th{
    border-bottom-width: 2px;
    border-color: var(--secondary-color) !important;
}

th>a{
    width: 80px !important;
}



tbody>tr{
    margin-top: 20px !important;
}