@using DTO.User
<table class="custom-table table w-100 mt-5">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Phone</th>
        <th>Email</th>
        
        @* This is a header for the button functionality *@
        <th class=""><a class="btn btn-success" href="~/User/NewUser"><i class="bi bi-person-plus"></i></a></th>
    </tr>
    </thead>
    <tbody class="" >
    @foreach(var user in ViewBag.Users)
    {
        <tr class="">
            <td>@user.Name @user.Lastname</td>
            <td>@user.Phone</td>
            <td>@user.Email</td>

            <td><a class="btn btn-secondary" href="~/User/Profile?email=@user.Email"><i class="bi bi-info-square"></i></a></td>
        </tr>
    }
    </tbody>
</table>