<!-- Login -->
<div id="login" class="d-flex justify-content-center align-items-center">
	<div class="box-container h-75 d-flex justify-content-center align-items-center">
		<div>
			<figure class=" d-flex flex-column justify-content-center align-items-center">
				<img src="/assets/delivery.png" alt="">
			</figure>

		</div>
		<div class="form-box h-100  bg-primary shadow-lg d-flex flex-column justify-content-center align-items-center">
			<h1 class="text-white mb-5">Login</h1>
			<form action="" class=" w-100 d-flex flex-column justify-content-center align-items-center">
				<div class="input-group mb-3 w-75 w ">
					<span class="input-group-text" id="basic-addon1">@@</span>
					<input type="text" class="form-control" placeholder="Username" aria-label="Username"
						aria-describedby="basic-addon1">
				</div>
				<div class="input-group mb-3 w-75">
					<span class="input-group-text" id="basic-addon1"><i class="bi bi-key"></i></span>
					<input type="password" class="form-control" placeholder="Password" aria-label="Password"
						aria-describedby="basic-addon1">
				</div>

				<button type="submit" class="btn btn-primary w-25 ">Login</button>
			</form>
		</div>
	</div>
</div>



<style>
	button {
		height: 50px !important;
		font-size: 50px;
	}

	.form-box {
		width: 550px;
		border-radius: 30px;
	}

	.box-container {
		box-shadow: inset 0 0 20px #ffc30d;
		border-radius: 30px !important;
	}



	img {
		width: 500px;
	}


	#login {
		height: 95vh;
	}
</style>

</html>