@* <button class="btn btn-primary d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar"> *@
@*     ☰ Menú *@
@* </button> *@

<div id="sidebar" class="collapse d-md-block bg-third text-white vh-100 p-3" style="width: 210px;">
    <hr>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Home")" class="nav-link text-white">
                <i class="bi bi-house-door"></i> Home
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Profile", "User")" class="nav-link text-white">
                <i class="bi bi-person"></i> Profile
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Settings", "User")" class="nav-link text-white">
                <i class="bi bi-gear"></i> Settings
            </a>
        </li>
        
        
            
        
    </ul>
    
    <div id="logout" class="w-100 d-flex flex-column justify-content-center align-items-center">
        <hr/>    
        <a href="@Url.Action("Logout", "Auth")" class="nav-link text-white">
            <i class="bi bi-box-arrow-right"></i> Log Out
        </a>
    </div>
</div>

